*{
    font-family: Arial, Helvetica, sans-serif;
}
html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(153.35deg, #EDEAFF 23.39%, #A4FFAD 99.79%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#delete {
    background: none;
    text-decoration: underline;
    color: red;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    cursor: pointer;
}

input {
    width: 50%;
    height: 45px;
    font-size: 16px;
    padding-left: 2%;
    border-radius: 2px;
    border: none;
}

#submit {
    background-color: black;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1%;
}

table {
    width: 75%;
}
th, td {
    padding: 10px;
}


/* The container */
.container {
    /* display: block; */
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #cedfff;
    border: #cedfff;
    border-radius: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #5A87DF;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.complete {
    color: #5A87DF;
    border-style: solid;
    border-radius: 2px;
    background-color: #d0e0ff;
    text-align: center;
}



